.header {
    text-align: center;
}

.body .menu_left {
    float: left;
}

.body {
    margin-left: 25%;
    margin-right: 27%;
}

.body .menu_left ul {
    list-style-type: none;
    font-size: 70px;
    margin-left: 72px;
}

.body .menu_left ul li{
    margin-left: 9px;
}


.body .menu_left .duoi1{
    margin-left: 30%;
}


.body .menu_right {
    float: right;
    background-color: rgb(249, 141, 9);
    height: 690px;
}

.body .menu_right ul {
    list-style-type: none;
}

.body .menu_right .menu_right1 {
    float: left;
    margin-left: 5px;
}

.body .menu_right .menu_right1 .h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.body .menu_right .menu_right1 ul li {
    font-size: 20px;
    margin-top: 30px;
    line-height: 20px;
    margin-right: 18px;
    color: rgb(26, 121, 7);
}

.body .menu_right img{
    margin-top: 100px;
    margin-right: 50px;
}

.body .menu_right .menu_right2 {
    float: right;
    margin-right: 50px;
    margin-top: 45px;
    line-height: 31px;
}

.body .menu_right .menu_right2 .box {
    margin-left: 60px;
}